backend/envi
backend/__pycache__/
backend/.env
frontend/node_modules
frontend/.next
frontend/.env
backend/.DS_Store
backend/input/.DS_Store
backend/output/.DS_Store
backend/services/.DS_Store

backend/services/__pycache__
backend/models/__pycache__
backend/routers/__pycache__

__pycache__/
*.pyc
